body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #FF4C68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Download Button */
.download-button {
  margin: 0 3% 3% 0;
}

/* Heading Section */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 0 0 2rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 10%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin: 2.5rem;
  position: absolute;
  left: 20%;
}

#title {
  text-align: left;
}

/* Features */
.features-icon:hover {
  color: #FF4C68;
  transition: 0.7s;
}

.features-icon {
  color: #ef8172;
  padding: 1rem;
  transition: 0.7s;
}

.features-title {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.features-text {
  color: #8f8f8f;
}

.features-box {
  padding: 5%;
}

#features {
  margin: auto;
  position: relative;
  z-index: 1;
}

/* Testimonials */
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-image {
  width: 10%;
  margin: 1rem 1rem 2rem;
}

#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

/* Pricing Section */
.card {
  margin:
}

.pricing-column {
  padding: 7% 2%;
}

.card-header-text {
  margin: 1rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

#pricing {
  padding: 100px;
}

/* CTA */
#cta {
  padding: 0;
}

/* Footer section */
.footer-icons {
  margin: 0.5rem;
  color: #000;
}

.footer-copyright-text {
  margin: 1rem 0 0;
  color: gray;
}

/* Media Query */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
